@use "/src/tokens";

.chatbox_container {
  max-width: 800px;
  margin: auto;

  @include tokens.text-primary;
}

.messages_container {
  display: flex;
  flex-direction: column;
  gap: 18px;

  padding: 36px 15px 56px 19px;
  background-color: tokens.$bg-surface;
  border-radius: tokens.$br-md;

  @include tokens.box-shadow-default;
}

.message_box {
  max-width: 70%;
  background-color: tokens.$bg-primary;
  padding: 12px 20px;
  border-radius: tokens.$br-lg;
}

.message_box[data-sender="user"] {
  color: tokens.$text-col-primary;
  background-color: tokens.$bg-primary;
  align-self: flex-end;
}

.message_box[data-sender="bot"] {
  color: tokens.$text-col-on-secondary;
  background-color: tokens.$bg-secondary;
  align-self: flex-start;
}

.message_input_container {
  margin-top: 38px;
  position: relative;

  @include tokens.box-shadow-default;
}

.message_input {
  width: 100%;
  background-color: tokens.$bg-surface;
  color: tokens.$text-col-on-secondary;
  border: none;
  border-radius: tokens.$br-md;

  box-sizing: border-box;
  padding: 20px 64px 20px 28px;

  @include tokens.text-input;
}

.message_submit_button {
  display: box;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 16px;
  bottom: 16px;
  padding: 0;
  border-radius: tokens.$br-full;
  background-color: tokens.$bg-primary;
  background-image: url("/public/carbon_send-filled.svg");
  background-position: 8px center; // Иконка не центрованая, нужно немного костылять
  background-repeat: no-repeat;
}
